body{
  background-color: black;
  justify-content: center;
}

.button{
  background-color: hsl(180, 8%, 47%);
  border-radius: 10px;

}

.button:hover{
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}


.card{
  border: 2px solid hsl(113, 84%, 44%);
  border-radius: 20px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 28%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(160, 72%, 48%);
}

.card .card-text{
  font-family: Arial,sans-serif;
  color: hsl(93, 86%, 48%);
}